@model eUseControl.Web.Models.userInfo
@{
    ViewBag.Title = "Details";
}

<h2 id="header1">
    User information
</h2>
<div class="form-inline" style="align-content: center">

            <img src="@Url.Content(Model.PicturePath.Replace("~", ""))" alt="Lights" style="height: auto; width: 300px">
    </div>

    <div class="card text-white bg-info mb-3" style="max-width: 300px;">
        <div class="card-header">
            <h3>Username: @Model.Name</h3>
        </div>
        <div class="card-body">
            <h4> Phone Number: @Model.phoneNumber </h4>
            <hr />
            <h4>
                Email Adress: @Model.email
            </h4>
            <hr />
            <h4>
                Style: @Model.StyleTypes.StyleName
            </h4>
        </div>
    </div>
</div>
<hr />
@Html.ActionLink("Back", "Designers", "UserInfo")

